Global Game Jam 2018/Temp/
Global Game Jam 2018/Library/
Global Game Jam 2018/obj/*
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Global Game Jam 2018/Library/ScriptAssemblies/Assembly-CSharp.dll
Global Game Jam 2018/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Global Game Jam 2018/Library/ScriptAssemblies/Assembly-CSharp.dll
Global Game Jam 2018/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
